@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
.title {
    background-image: url('yes.jpeg');
    color:black;
    line-height: 10;
    font-size: 4rem;
    text-align: center;
}

.title a {
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
}
.title a:hover {
    color: blue;
}

p {
    color: white;
}